.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 344px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 6px 6px 0px rgba(0,0,0,1);
  font-weight: 700;
  margin: 106px 230px 0;
}

.u-section-1 .u-form-1 {
  height: 72px;
  margin: 41px 321px;
}

.u-section-1 .u-input-1 {
  letter-spacing: 0;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-1 .u-form-1 {
    width: 499px;
    margin-right: 220px;
    margin-left: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 110px;
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 20px;
    margin-left: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 645px;
}

.u-section-2 .u-text-1 {
  text-shadow: 3px 3px 0px rgba(0,0,0,1);
  margin: 40px 311px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-text-1 {
    width: 519px;
    margin-left: 211px;
    margin-right: 211px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 101px;
    margin-right: 101px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 392px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 6px 6px 0 rgba(0,0,0,1);
  margin: 70px 0 60px;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 671px;
}

.u-section-4 .u-shape-1 {
  width: 617px;
  height: 421px;
  background-image: none;
  margin: 34px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1047px;
  margin: -456px 33px -1px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 100px;
}

.u-section-4 .u-image-1 {
  width: 645px;
  height: 461px;
  object-position: 0% 23.69%;
  background-position: 100% 46.58%;
  margin: -1px -123px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 25px 8px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 8px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 95px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 887px;
    margin-top: -460px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-4 .u-image-1 {
    width: 586px;
    height: 391px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-4 .u-shape-1 {
    width: 553px;
    margin-top: 40px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 614px;
    margin-top: -394px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 906px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 640px;
    height: 480px;
    margin-bottom: -89px;
    margin-left: -54px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-4 .u-shape-1 {
    width: 423px;
    height: 338px;
    margin-top: 55px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 459px;
    margin-top: -324px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-4 .u-image-1 {
    width: 466px;
    height: 374px;
    margin-bottom: -33px;
    margin-left: -34px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-4 .u-shape-1 {
    height: 198px;
    width: 280px;
    margin-top: 34px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 284px;
    margin-top: -456px;
    margin-bottom: -1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-1 {
    width: 282px;
    height: 238px;
    margin-bottom: -36px;
    margin-left: -28px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 116px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 683px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-shadow: 6px 6px 0px rgba(0,0,0,1);
  margin: 60px 390px 0;
}

.u-section-5 .u-gallery-1 {
  width: 689px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 30px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: -22px;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-5 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-4 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-5 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-6 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-7 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -49px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -49px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 290px;
    margin-right: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 180px;
    margin-right: 180px;
  }

  .u-section-5 .u-gallery-1 {
    width: 622px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 392px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 6px 6px 0 rgba(0,0,0,1);
  margin: 70px 0 60px;
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 402px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-video-1 {
  min-height: 402px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 402px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-7 .u-video-1 {
    background-position: 50% 50%;
    min-height: 331px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 331px;
  }

  .u-section-7 .u-btn-1 {
    width: 99px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-video-1 {
    min-height: 254px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-1 {
    min-height: 572px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-7 .u-video-1 {
    min-height: 360px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 669px;
}

.u-section-8 .u-text-1 {
  width: 360px;
  font-weight: 700;
  text-shadow: 3px 3px 0px rgba(0,0,0,1);
  margin: 60px auto 0;
}

.u-section-8 .u-gallery-1 {
  width: 689px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 30px auto 60px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: -22px;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-8 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: -49px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -49px;
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-1 {
    width: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 416px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 800px;
  margin: 60px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 296px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-9 .u-text-2 {
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-9 .u-icon-1 {
    width: 64px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 1330px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 837px;
  }
}